/* root */
:root{
    --white: white;
    --black: black;

    --primary: ;
    --secondary: ;

    --font: ;
}

/* Globales */
h1, h2, h3, h4, h5, h6{
    font-family: var(--font);
    margin: 0;
}
/* Clases */
.navContainer{
    box-shadow: 0px 0px 2px 2px #00000020;
}
.nav-lenguages{
    border-right: 2px solid #00000020;
}
.img-Container{
    margin-top: -10%;
}
.cambiosFlex{
    display: none;
}
.text_color_primary{
    color: #2e68ad;
}
.bg_color_primary{
    background-color: #2e68ad;
}
.fotos_cuatro{
    overflow-x: hidden;
}
.border_columna{
    width: 65%;
    height: 2px;
    background-color: #00000033;
    margin-top: .7rem;
    margin-left: .5rem;
}
.vw_height{
    height: 35vh;
}
.bg_fond{
    background-image: url(../img/news.jpg);
}
.w-css-35{
    width: 45%;
}
.border_primary{
    border: 2px solid #2e68ad;
}